.benefits {
  padding: 80px 0 120px;

  &__head {
    margin: 0 auto 32px;
    max-width: 922px;
    text-align: center;
  }

  &__tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 64px;
  }

  &__tab-item {
    margin: 0 10px;
    border: 2px solid transparent;
    border-radius: 60px;
    padding: 6px 24px;
    text-align: center;
    cursor: pointer;
    user-select: none;

    &.is-active {
      border-color: $white-color;
    }
  }

  &__content-item {
    display: none;

    &.is-active {
      display: block;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 26px;
  }

  &__item {
    text-align: center;
  }

  &__img {
    margin-bottom: 16px;
    height: 88px;
  }

  &__name {
    font-weight: 700;
    font-size: 30px;
    line-height: 1.2;
  }
}

@media screen and (max-width: 1024px) {
  .benefits {
    &__list {
      grid-template-columns: repeat(2, 1fr);
    }

    &__name {
      margin: 0 auto;
      max-width: 300px;
    }
  }
}

@media screen and (max-width: 767px) {
  .benefits {
    padding-bottom: 80px;

    &__tabs {
      flex-wrap: wrap;
    }

    &__name {
      max-width: 180px;
      font-size: 20px;
    }
  }
}

@media screen and (max-width: 575px) {
  .benefits {
    &__list {
      gap: 32px 10px;
    }

    &__name {
      font-size: 17px;
    }
  }
}