.contacts {
  padding: 100px 0 80px;

  &__inner {
    text-align: center;
  }

  &__title {
    margin-bottom: 20px;
  }

  &__subtitle {
    margin-bottom: 48px;
  }
}

@media screen and (max-width: 767px) {
  .contacts {
    padding: 70px 0 64px;

    &__subtitle {
      margin-bottom: 32px;
    }
  }
}