.header {
  margin-bottom: 26px;

  &__inner {
    display: flex;
    align-items: center;
    border-radius: 24px;
    padding: 19px 32px;
    background: rgba(28, 29, 35, 60%);
  }

  &__logo {
    display: flex;
    margin-right: 32px;
  }

  &__nav {
    margin-right: 24px;
    font-size: 16px;
    line-height: 1.2;

    ul {
      display: flex;
    }

    li {
      @include mr(32px);
    }

    a {
      @include hover {
        text-decoration: underline;
      }
    }
  }

  &__burger {
    margin-left: 24px;
  }

  &__telegram {
    display: flex;
    margin-left: auto;
  }
}

@media screen and (max-width: 1024px) {
  .header {
    margin-bottom: 64px;

    &__logo {
      margin-right: 24px;
    }

    &__nav li {
      @include mr(24px);
    }
  }
}

@media screen and (max-width: 767px) {
  .header {
    margin-bottom: 32px;

    &__logo {
      img {
        width: 113px;
      }
    }

    &__nav {
      font-size: 20px;

      ul {
        display: block;
      }

      li {
        @include mr(0);
      }

      a {
        display: block;
        padding: 12px;
      }
    }
  }
}