@media screen and (max-width: 800px) {
  .menu {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 8;
    display: none;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    padding: 50px 15px;
    width: 100%;
    max-width: 350px;
    background: #1d0259;
    opacity: 0;
    transition: $menu-transition;

    &.is-active {
      opacity: 1;
    }
  }

  .overlay {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 5;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(#000, 0.5);
    opacity: 0;
    transition: $menu-transition;

    &.is-active {
      opacity: 1;
    }
  }
}
