// base
:root {
  --content-width: 1124px;
  --container-offset: 30px;
  --container-width: calc(var(--content-width) + var(--container-offset) * 2);
}

$font-family: "Gilroy", sans-serif;
$transition: 0.25s ease-in-out;
$menu-transition: 0.35s ease-in-out;

// colors
$bg-color: #14151b;
$white-color: #fff;
$black-color: #000;
$accent-color: #39b92d;
$accent-gradient: linear-gradient(90.05deg, #59d24e 7.38%, #39b92d 99.32%), #fff;

@media screen and (max-width: 767px) {
  :root {
    --container-offset: 16px;
  }
}
